@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: ubuntu,sans-serif;
    font-weight: 300;
    background-color: grey;
}

/* navigation links */
 
#navbar li {
    margin-right: 25px;
    list-style-type: none;
    float: right;
}

a:hover {
    background-color: white;
}