@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: rgb(70, 46, 15);
}


body {
    font-family: ubuntu,sans-serif;
    font-weight: 300;
    background-color: burlywood;
    
}
#body-text {
    background-color: rgb(153, 132, 106);
}
h1{
    
    font-size: 50px;
    float: left;
}
h2 {
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
}

/* navigation links */
 
#navbar li {
    margin-right: 25px;
    list-style-type: none;
    float: right;
    font-size: 100%;
}
#navbar {
    padding-top: 0%;
}

a:hover {


    background-color: white;
}

/*pictures*/


#group-pic {
    height: 1000px;
    width: 100%;
    background: url("../images/group-martial-arts.jpg")no-repeat center center;

}
#kids-pic {
    height: 500px;
    width: 50%;
    background: url("../images/kids.jpg")no-repeat center center;
    
}
#adult2-pic{
    height: 500px;
    width: 50%;
    background: url("../images/adult2.jpg")no-repeat center center;
    
    
}

/*li and ul*/

ul{
    font-size: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: burlywood;
    
}
li, ul{
    text-align: center;
    padding-top: 10px;
}

.time {
     padding-top: 100px;
     margin-left: 1000px;
    font-size: large;
    font-weight: lighter;
}